	body {margin: 0; padding: 0; background: #f3dc74 url('../images/bg_email.jpg') no-repeat center top;}

	a:hover { text-decoration: none !important; }
	.header h1 {color: #ede6cb !important; font: normal 24px Georgia, serif; margin: 0; padding: 0; line-height: 28px;}
	.header p {color: #645847; font: bold 11px Georgia, serif; margin: 0; padding: 0; line-height: 12px; text-transform: uppercase;}
	.content h2 {color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif; }
	.content p {color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px; font-family: Helvetica, Arial, sans-serif;}
	.content a {color: #0fa2e6; text-decoration: none;}
	
	.footer {
            font-family: Georgia, serif; line-height: 10px; background: #464646;
            width:599px; text-align:center; border:none;
 	}
	.footer p {font-size: 11px; color:#bfbfbf; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif;}
	.footer a {color: #0fa2e6; text-decoration: none;}
	.footer td {
        padding: 15px 0 10px; font-size: 11px; color:#bfbfbf; margin: 0; line-height: 1.2;font-family: Helvetica, Arial, sans-serif;background:#464646; text-align:center;vertical-align:top;

 	}

